[submodule "definitions/lucid"]
	path = definitions/lucid
	url = https://github.com/destructuring/definition-lucid
[submodule "definitions/precise"]
	path = definitions/precise
	url = https://github.com/destructuring/definition-precise
[submodule "definitions/generic"]
	path = definitions/generic
	url = https://github.com/destructuring/definition-generic
[submodule "definitions/network"]
	path = definitions/network
	url = https://github.com/destructuring/definition-network
[submodule "definitions/osx"]
	path = definitions/osx
	url = https://github.com/destructuring/definition-osx
